// colors

$primary-blue: #18222f;
$primary-white: #F5F5F5;
$primary-grey: #BDBDBD;
$secondary-grey: #757575;
$secondary-blue: #0f171e;
$light-blue: #3498db;

// screen size

$tab_width: 1150px;
$mobile_width: 600px;
