// font-weights

$light: 400;
$medium: 500;
$bold: 600;
$bolder: 700;

// font-sizes

$font10: 10px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
