/* You can add global styles to this file, and also import other style files */
@import '../src/assets/sass/main.scss';

@import '../src/assets/sass/components/angular_material.scss';

* {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $secondary-blue; }
